<p id="notice"><%= notice %></p>

<div class="main">
	<h1>Zapisano słowo</h1>
<h2><%= @word.name %></h2>

<p>
  <strong>Twój email:</strong>
  <%= @word.mail %>
</p>

<%= link_to 'Wszystkie słowa', words_path %>

</div>