* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 250px;
    background: #f2f2e8;
}
header {
    height: 300px;
    padding-top: 50px;
    background: #2f8478;
}
.main-nav,
.main {
    position: relative;
}

header,
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}
.main-nav {
    background: #fff;
    height: 80px;
    z-index: 150;
    margin-bottom: -80px;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.main {
    background: #f2f2e8;
    padding: 110px 50px 50px;

}

.main .col1 {
    width: 23%;
    padding: 2%;
    float: left;
    background: #f2f2e8;
}

.main .col2 {
    width: 77%;
    padding: 2%;
    float: right;
    background: #f2f2e8;
}

img {
    float: left;
    padding: 20px;
}

.main a {
    color: #2f8478;
    text-decoration: none;
    border-bottom: 2px solid #2f8478;
}

.main a:hover {
    color: #ce534d;
    text-decoration: none;
    border-bottom: 2px solid #ce534d;
}