* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 250px;
    background: #f2f2e8;
    font: 1em/1.5 sans-serif;
    color: #444135;
}
p {
    margin-bottom: 1em;
}
header, .main-nav {
    text-align: center;
}
header {
    height: 300px;
    padding-top: 50px;
    background: #2f8478;
    color: #f7f8ee;
}
.main-nav a {
    font-size: .99em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #444135;
    display: inline-block;
    margin: 24px 12px;
}
.main-nav a:hover {
    border-top: 2px solid #f07057;
    padding-top: 10px;
}
.main-nav a:active {
    border-top: 2px solid #f07057;
    padding-top: 10px;
}
.main-nav a {
    border-top: 2px solid #2f8478;
    padding-top: 10px;
}
.main-nav,
.main {
    position: relative;
}
header,
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0px;
}
.main-nav {
    background: #fff;
    height: 80px;
    z-index: 150;
    margin-bottom: -80px;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.main {
    background: #f2f2e8;
    padding: 7em 9em 9em;
}
.main a {
    color: #2f8478;
    text-decoration: none;
    border-bottom: 2px solid #2f8478;
}
.main a:hover {
    color: #ce534d;
    text-decoration: none;
    border-bottom: 2px solid #ce534d;
}
input {
    border: 0;
    background-color: #ffffff;
    border-bottom: 4px solid #2f8478;
    padding: 0.2em;
    font-size: 1.5em;
}
input:focus {
    outline: 0;
    border: 0;
    border-bottom: 4px solid #ce534d;
}
.article {
    padding: 3em;
    width: 95%;
    margin 0 auto;
}

img {
    float: left;
    padding: 2em;
}
.slowa {
    padding: 1em;
}
.slowa strong {
    padding-right: 0.8em;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

#error_explanation h2 {
  display: none;
}

#error_explanation ul li {
  font-size: 1.2em;  
  list-style-type: none;
  color: #ce534d;
}