input {
    border: 0;
    background-color: #ffffff;
    border-bottom: 4px solid #2f8478;
    padding: 0.2em;
    font-size: 1.5em;
}

input:focus {
    outline: 0;
    border: 0;
    border-bottom: 4px solid #ce534d;
}

.article {
    padding: 1em;
    width: 100%;
    margin 0 auto;
}