<div class="main">
<p id="notice"><%= notice %></p>

<h1>Słownik terminów curlingowych został podzielony na następujące kategorie:</h1>

  <% @categories.each do |category| %>
        <strong><%= link_to category.name, category %></strong><br><br>
  <% end %>

  <p><%= link_to 'Wszystkie słowa', words_path %></p>

</div>