<div class="main">
<p>
	<h1>Dlaczego kamień skręca - teoria 1</h1>
Gdy kamień ślizga się po lodzie, chropowata, przednia połowa powierzchni kamienia sprawia, że powstają niewielkie zarysowania na lodzie. Obrót kamienia daje rysom nieznaczne odchylenie od kierunku, w którym kręci się kamień. Gdy chropowata, tylna połowa kamienia przejeżdża przez ten sam obszar lodu, pokonuje wcześniejsze zarysowania pod niewielkim kątem. Podczas tej czynności występuje w tylnej części kamienia tendencja do poruszania się wzdłuż pokonywanych rys. Jest to właśnie "kierowanie przez zarysowania" lub inaczej mówiąc, mechanizm sterowania torem ślizgu, który to mechanizm wytwarza boczną siłę, niezbędną do spowodowania skrętu.
</p>
</div>
