<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<body>

<div class="main">

<div class="article">
  <h2>Duch curlingu</h2>
  <p>Przez ponad 500 lat istota curlingu bazowała na przestrzeganiu reguł, szacunku do przeciwnika i przekonaniu, że czerpanie przyjemności z gry jest ważniejsze niż wygrywanie. Curling jest grą z długą tradycją. Prawdziwy curler zawsze przestrzega ducha tej gry. Zawodnicy nie łamią zasad specjalnie, wolą raczej przegrać, niż wygrać nieuczciwie. Curler nigdy nie przeszkadza innym podczas zagrań, a podczas gry zawsze pierwszy przyznaje się do swojego błędu. Duch curlingu wymaga zachowania sportowej postawy i życzliwego, honorowego zachowania. Duch curling wpływa zarówno na interpretację zasad i reguł gry, jak i na zachowanie curlerów na lodzie i poza nim.
</p>
</div>

</div>
</body>
</html>