<div class="main">


  <h1>Kontakt</h1>
  <p>Kontakt z administratorem: admin@example.com<br>
  <h4>Linki do klubów curlingowych:</h4>
  KKC: kkc-curling.pl<br>
  ŚKC: kkc-curling.pl<br>
  POS: kkc-curling.pl<br>
  Sopot: kkc-curling.pl<br>
  Bełchatów: kkc-curling.pl<br>
  </p>


</div>
