<div class="main">

<div class="article">
	<p> Strona wykonana jako projekt licencja
	</p>
  <h2>Napisz maila: admin@example.com</h2>

  <h3>Kluby curlingowe w Polsce, będące członkami<a href="http://http://pfkc.pl"><strong><br>Polskiej Federacji Klubów Curlingowych</strong> </a></h3>
  <a href="http://www.kkc-curling.pl/"><strong>Krakowski Klub Curlingowy</strong> </a><br>
  <a href="http://www.skc.katowice.pl/"><strong>Śląski Klub Curlingowy</strong> </a><br>
  <a href="http://mccwarszawa.pl/"><strong>Media Curling Clumb - Warszawa</strong> </a><br>
  <a href="http://culani.org.pl/"><strong>ISRS Culani - curling na wózkach</strong> </a><br>
  <a href="http://www.sopot.curling.pl/"><strong>Sopot Curling Club Wa ku'ta</strong> </a><br>
  <a href="http://azs.gliwice.pl/"><strong>AZS Politechnika Śląska Gliwice</strong> </a><br>
  <a href="http://www.pos.org.pl/index.php/sekcje/curling"><strong>Polska Organizacja Sportowa - curling w Łodzi</strong> </a><br>
  <a href="http://poznan.curling.pl/"><strong>Poznański Klub Curlingowy</strong> </a><br>
  <a href="http://bkc.curling.net.pl/"><strong>Bełchatowski Klub Curlingowy</strong> </a><br>
  <a href="http://www.curlingpaw.dbv.pl/news.php"><strong>Klub Curlingowy KS Warszowice</strong> </a><br>
  </p>
  <br>
  <br>

  <p>
  	<a href="http://www.curlingcalendar.com/"><strong>Kalendarz turniejów curlingowych na świecie</strong> </a><br>

  </p>

</div>

</div>
