<div class="main">

  <h1>Przygotowanie lodu</h1>
  <img src="tor_caly.png" alt="tooooooor">
  <p>W curling gra się na lodzie. Jest to ten sam lód, który używają hokeiści, łyżwiarze. Jednak w curlingu lód musi spełniać pewne wymogi, ponieważ źle przygotowany jest najgorszym koszmarem curlera. Za przygotowanie lodu odpowiedzialna jest osoba zwana ice masterem. Jest to czynność wymagająca doświadczenia i umiejętności.
</p>
  <p>Lód do gry w curling powinien być płaską powierzchnią bez żadnych zarysowań, czy wgłębień. Zanim zacznie się proces przygotowywania lodu do gry, jest on czyszczony ze wszelkich zanieczyszczeń. Po uzyskaniu równej powierzchni ice master spryskuje ją małymi kropelkami wody tworząc warstwę pebbli. Odbywa się to za pomocą zbiornika z wodą i przymocowaną do niego specjalną rączką z otworami podobnymi do dziurek w prysznicu. Ice master przechodzi kilka razy wzdłuż toru dokładnie pokrywając lód kropelkami wody. Najlepsza do tego celu jest woda ciepła, ponieważ szybciej zamarza niż woda zimna. Po około 30 sekundach zamarznięte kropelki tworzą pebblę.
</p>
  <p>Po zrobieniu pebbli następuje ścięcie najwyższych wystających górek lodu powstałych z zamarzających kropelek.  Ice master może użyć w tym celu maszyny z przymocowanym ostrzem, które ścina określoną wysokość lodu (same szczyty pebbli). Innym sposobem jest przejechanie po całym torze kilkoma kamieniami używając specjalnego przyrządu, co powoduje wygładzenie najbardziej wystających zamarzniętych kropelek.
</p>
  <p>Zdarza się, że niewielkie kryształki lodu przyczepiają się do powierzchni kamienia. Może to spowodować znaczącą zmianę toru poruszania się – zmianę rotacji lub nawet zatrzymanie się kamienia.
</p>

</div>
