<div class="main">
  <div class="article">
    <h1>Buty</h1>
    <p>
      <%= image_tag('buty.jpg', size: "300x300", alt: "buty do curlingu") %>
      Podczas gry zawodnicy muszą nosić specjalnie przygotowane obuwie. Podeszwa jednego z butów jest pokryta cienką
      warstwą teflonu bądź innego tworzywa o gładkiej powierzchni. Aby zaoszczędzić, istnieje możliwość zakupu podkładki
      teflonowej, którą można przymocować do dowolnego obuwia za pomocą elastycznych gumek. Dzięki temu curlerzy mogą
      ślizgać się przy startowaniu z haka. Leworęczni zawodnicy śliską podeszwę noszą na prawym bucie, a praworęczni –
      na lewym. Spód drugiego buta jest pokryty cienką warstwą gumy, aby zwiększyć przyczepność. Oprócz tego używa się
      nakładki na but o gładkiej powierzchni, aby zawodnik mógł zachować równowagę na lodzie.
    </p>
  </div>
  <div class="article">
    <h1>Szczotka</h1>
    <p>
      <%= image_tag('broom.jpg', size: "300x300", alt: "szczotka do curlingu") %>
      Szczotek w curlingu używa się do szczotkowania lodu. Dodatkowo skip używa ich do wskazywania swoim zawodnikom
      miejsca, w które mają celować. Innym zastosowaniem tego przyrządu jest trzymanie go podczas wypuszczania kamienia,
      aby łatwiej było zachować równowagę.
    </p>
  </div>
  <div class="article">
    <h1>Kamień</h1>
    <p>
      <%= image_tag('kamien1.jpg', size: "300x300", alt: "kamień curlingowy") %>
      Kamienie curlingowe mają okrągły kształt i ważą 19,96 kg. Każda drużyna podczas gry używa zestawu 8 kamieni o tym
      samym kolorze lub oznaczeniu. Do kamienia jest przymocowana specjalna rączka, dzięki której można nadać mu
      odpowiednią rotację. Kamienie do gry sa wykonane ze specjalnego granitu, który nie pochłania wody.
    </p>
  </div>
  <div class="article">
    <h1>Ekstender</h1>
    <p>
      <%= image_tag('stick.jpg', size: "300x300", alt: "ekstender do curlingu na wózkach") %>
      Jest to przyrząd, który służy do wypuszczania kamieni przez osoby grające na wózkach. Za jego pomocą mogą oni
      nadać kamieniowi siłę i rotację bez konieczności ślizgania się po lodzie. W curlingu na wózkach używa się ekstenderów
      zamiast szczotek (nie szczotkuje się lodu).
    </p>
  </div>

</div>
