<div class="main">
  Zasady

  <h1>Rzucanie kamieni</h1>
  W czasie jednego enda drużyny wykonują rzuty kamieniami na przemian, przy czym każdy z uczestników meczu wypuszcza po dwa kamienie. Zawodnicy wypuszczają kamienie w określonej kolejności przez cały mecz. Osoba zagrywająca nadaje kamieniowi odpowiednią prędkość, rotację oraz kierunek. Już po jego wypuszczeniu istnieje możliwość korygowania toru po jakim się on porusza poprzez szczotkowanie powierzchni przed nim. Kiedy już wszystkie kamienie zostaną wykorzystane, oblicza się liczbę zdobytych punktów i rozpoczyna kolejny end z drugiego końca toru. Każdy mecz trwa od 6 do 10 endów.
  <h1>Kto co robi w trakcie rzutu?</h1>
  Aby mieć pewność, iż zagranie zostanie odpowiednie wykonane, skip stoi w domu i wskazuje zawodnikowi swojej drużyny odpowiednie miejsce, z uwzględnieniem zakrzywienia toru rzutu. W tym czasie pozostali dwaj gracze mają za zadanie szczotkować lód przed kamieniem. Od chwili, w której kamień zostaje wypuszczony, żaden z zawodników nie ma prawa go dotknąć, tak więc szczotkowanie jest jedyną możliwością skorygowania jego toru jazdy.
  Drużyna curlingowa składa się z czterech osób: pierwszy (lead), drugi, trzeci (wiceskip), czwarty (skip). Skip jest najważniejszym zawodnikiem, ponieważ to on decyduje o taktyce drużyny. Jako jedyny może przebywać w obrębie domu, a także szczotkować kamienie przeciwnika. W czasie, gdy skip wykonuje swoje podania, jego obowiązki przejmuje wiceskip, którym zazwyczaj jest trzeci.
  <h1>Cel gry</h1>
  Podstawowym celem gry jest zdobycie jak największej liczby punktów w każdym endzie. Uzyskuje się je przez umieszczenie własnych kamieni jak najbliżej środka domu i utrudnienie przeciwnikowi ich wybicia, przy jednoczesnych próbach wybijania kamieni drużyny przeciwnej. Ze względu na liczbę kamieni biorących udział w grze, maksymalnie w jednej rundzie można zdobyć osiem punktów. Takie sytuacje zdarzają się bardzo rzadko, ponieważ pod uwagę brane są tylko te położone w środku domu, ale nie dalej niż pierwszy kamień drużyny przeciwnej.
  <h1>Zasada strefy wolnych strażników</h1>
  Kamień, który zatrzymał się na obszarze pomiędzy Tee line, a Hog line, z wyłączeniem domu, jest uważany za strażnika. Jeżeli jeden z pierwszych czterech zagrywanych kamieni spowoduje usunięcie z gry strażnika przeciwnej drużyny, to zagrywany kamień jest usuwany z gry, a przesunięte kamienie są przywracane na swoje poprzednie pozycje.



</div>
